/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  background: #000000;
}

a {
  color: #0068f1;
}

a:hover {
  color: #1a46d6;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}



/*--------------------------------------------------------------
# Scroll Bar
--------------------------------------------------------------*/




::-webkit-scrollbar{
  width:0;
}
#scrollpath{
  position: fixed;
  top: 0;
  right:0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255,0.05);
}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: linear-gradient(to top,#008aff,#00ffe7);
  animation: animate 5s linear infinite;   
}
@keyframes animate{
  0%,100%{
      filter: hue-rotate(0deg);
  }
  50%{
      filter: hue-rotate(360deg);
  }
}
#progressbar::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 100%;
  background:  linear-gradient(to top,#008aff,#00ffe7);
  filter: blur(10px);
}
#progressbar::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 100%;
  background:  linear-gradient(to top,#008aff,#00ffe7);
  filter: blur(30px);
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  left: 15px;
  bottom: 15px;
  background: #0068f1;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
  padding: 15px 30px;
  text-decoration: none;
  overflow: hidden;
}


.back-to-top span {
  position: absolute;
  display: block;
}

.back-to-top span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.back-to-top:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.back-to-top span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.back-to-top:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.back-to-top span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.back-to-top:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.back-to-top span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.back-to-top:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.back-to-top i {
  font-size: 25px;
  position: absolute;
  transform: translate(-45%, -30%);
}

.back-to-top:hover {
  transition-delay: 1s;
  color: #0068f1;
  background: #010615;
  transition: background 0.2s ease-in-out;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 8px #2196f3;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #010615;
  box-shadow: #041750 0 0 2em;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  /* border: 8px solid #2c2f3f; */
  background-color: yellow;
  animation: profileBorderColor 2s linear infinite alternate-reverse;
}

@keyframes profileBorderColor {
  0% {
    border: 5px solid #0026ff;
    box-shadow: 0px 2px 15px #0026ff;

  }

  25% {
    border: 5px solid #73ff00;
    box-shadow: 0px 2px 15px #73ff00;

  }

  50% {
    border: 5px solid #ff00d4;
    box-shadow: 0px 2px 15px #ff00d4;

  }

  75% {
    border: 5px solid #ffa600;
    box-shadow: 0px 2px 15px #ffa600;

  }

  100% {
    border: 5px solid #00ffff;
    box-shadow: 0px 2px 15px #00ffff;

  }
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}


#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links .twitter {
  color: #1DA1F2;
}

#header .profile .social-links .instagram {
  color: rgb(255, 0, 98);
}

#header .profile .social-links .linkedin {
  color: #2867B2;
}

#header .profile .social-links .github {
  color: rgb(0, 0, 0);
}

#header .profile .social-links .twitter:hover {
  background: #1DA1F2;
  color: rgb(48, 48, 48);
  text-decoration: none;
}

#header .profile .social-links .instagram:hover {
  background: linear-gradient(-160deg, #8a3ab9, #e95950, #bc2a8d, #fccc63, #fbad50, #cd486b, #4c68d7);
  /* background: rgb(255, 0, 98); */
  color: rgb(48, 48, 48);
  text-decoration: none;
}

#header .profile .social-links .linkedin:hover {
  background: #2867B2;
  color: rgb(48, 48, 48);
  text-decoration: none;
}

#header .profile .social-links .github:hover {
  background: rgb(0, 0, 0);
  color: rgb(48, 48, 48);
  text-decoration: none;
}

#header .profile .social-links a:hover {
  background: #0068f1;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#main {
  margin-right: 300px;
}

@media (max-width: 1199px) {
  #header {
    right: -300px;
  }

  #main {
    margin-right: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}



.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}


#header .nav-menu:after {
  background: rgba(54, 54, 54, 0.1);
  height: 100%;
  width: 50%;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.nav-menu>ul>li:after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 1px;
  bottom: 0;
  transition-timing-function: linear !important;
  right: 0;
  transition: 1s;
  border-bottom: 1px solid #a8a9b4;
}

.nav-menu>ul>li:hover:after {
  width: 250px;
  transition: 1s;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 8px #2196f3;
  transition-timing-function: linear !important;
  border-bottom: 1px solid #0068f1;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-left: 8px;
  color: #6f7180;
  position: absolute;
  right: 0;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active>a i,
.nav-menu li:hover>a i {
  color: #0068f1;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #0068f1;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  right: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.png") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  /* background: rgba(5, 13, 24, 0.3); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #0068f1;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #000000;
}

.section-title {
  padding-bottom: 30px;
}

.aos-animate img {
  border: 5px solid #010615;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.7);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  /* border-radius: 15px !important; */
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #0068f1;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 350px;
  height: 1px;
  background: #0068f1;
  bottom: 0;
  left: 0;
  animation: sectionTitleBottomLine 3s linear infinite alternate-reverse;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  margin-left: 350px;
  height: 10px;
  border-radius: 100%;
  width: 10px;
  bottom: -3px;
  left: 0;
  background: #000000;
  animation: sectionTitleCircle 3s infinite alternate-reverse;
}

@keyframes sectionTitleCircle {
  100% {
    background: #0068d2;
  }

  98% {
    background: #e0e0e0;

  }

  50% {
    background: #858585;
  }

  35% {
    background: #3f3f3f;
  }

  0% {
    background: #000000;
  }
}

@keyframes sectionTitleBottomLine {
  0% {
    width: 80px;
  }

  25% {
    background: #f13000;
  }

  50% {
    background: #0068f1;
  }

  75% {
    background: #30f100;
  }

  100% {
    width: 350px;

  }
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  color: #6b6b6b;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #0068f1;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #0068f1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .row .content {
  margin-top: 100px;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
  color: #6b6b6b;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #0068f1;
  float: left;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #535353;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #029b23;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #02449b;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/


.skills-content .skillss {
  position: relative;
  display: flex;
  margin: 20px 0;
  padding: 14px 10px 10px;
  /* background: linear-gradient(#ffffff 0%, #000000 10%, #ffffff); */
  background: linear-gradient(180deg, #000000, #010615);
  border-radius: 5px;
  overflow: hidden;
  background: 2px solid #000;
  transition: 0.5s;

}

.skills-content:hover .skillss {
  opacity: 0.05;
}

.skills-content .skillss:hover {
  opacity: 1;
}

.skills-content .skillss::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(175, 175, 175, 0.1);
  z-index: 10;
}

.skills-content .skillss .namee {
  position: relative;
  width: 130px;
  text-align: right;
  color: #6d6d6d;
  font-weight: lighter;
  margin-top: -2px;
  text-transform: uppercase;
}

.skills-content .skillss .valuee {
  position: relative;
  width: 30px;
  text-align: left;
  color: #6d6d6d;
  font-weight: bolder;
  margin-top: -2px;
  text-transform: uppercase;
}

.skills-content .skillss .percentt {
  position: relative;
  width: calc(100% - 160px) !important;
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  border: 2px inset #252525;
  overflow: hidden;
}

.skills-content .skillss .percentt .progresss {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 2px #000;
  animation: percentageAnimation 4s ease-in-out forwards;
}

@keyframes percentageAnimation {
  from {
    width: 0;
  }
}

.skills-content .skillss .percentt .progresss_c_cpp {
  background: linear-gradient(45deg, #669ad3, #004682);
}

.skills-content .skillss .percentt .progresss_html_css {
  background: linear-gradient(45deg, #e34c26, #264de4);
}

.skills-content .skillss .percentt .progresss_python {
  background: linear-gradient(45deg, #3474a8, #ffd23e);
}

.skills-content .skillss .percentt .progresss_javascript {
  background: linear-gradient(45deg, #d4b830, #fed73c);
}

.skills-content .skillss .percentt .progresss_php_mysql {
  background: linear-gradient(45deg, #536ba1, #f57527);
}

.skills-content .skillss .percentt .progresss_django {
  background: linear-gradient(45deg, #9cb9aa, #00421f);
}

.skills-content .skillss .percentt .progresss_flutter {
  background: linear-gradient(45deg, #45d1fd, #02539a);
}

.skills-content .skillss .percentt .progresss_unity {
  background: linear-gradient(45deg, #ffffff, #000000);
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume {
  color: #6b6b6b;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #85baff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0068f1;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #dddddd;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: linear-gradient(235deg, #444444, #000000, #444444);
  color: rgb(39, 170, 231);
  border-radius: 20px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 5px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  /* border-radius: 50px; */
  transform: rotate(45deg);
  left: -9px;
  top: 0;
  background: rgb(255, 255, 255);
  border: 2px solid #0068f1;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
  color: #6b6b6b;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #001657;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #6d6d6d;

  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #ffffff;
  font-weight: bolder;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 25px;

  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: #00289e;
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: #000e36;
}

.portfolio .portfolio-wrap .portfolio-links a+a {
  border-left: 1px solid #00289e;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
}

.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #0068f1;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #0068f1;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #0068f1;
}

.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #343a40;
}

.services .title a:hover {
  color: #0068f1;
}

.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.testimonials .owl-nav,
.testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #0068f1 !important;
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
  color: #6b6b6b;
}

.contact .info {
  padding: 30px;
  background: #010615;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 0 24px 0 rgba(255, 255, 255, 0.5);
}

.contact form {
  padding: 30px;
  background: #010615 !important;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 0 24px 0 rgba(255, 255, 255, 0.5) !important;
}

.contact form textarea {
  border-color: #6b6b6b;
  background: #010615 !important;
  border-radius: 10px !important;
  color: #6b6b6b;
  box-shadow: 0 0 24px 0 rgba(0, 10, 104, 0.5) !important;

}

.contact form input {
  border-color: #6b6b6b;

  background: #010615 !important;
  border-radius: 10px !important;
  color: #6b6b6b;
  box-shadow: 0 0 24px 0 rgba(0, 10, 104, 0.5) !important;
}


.contact .info i {
  font-size: 20px;
  color: #0068f1;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #6b6b6b;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #0068f1;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #0068f1;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #0068f1;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #0068f1;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0068f1;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav,
.portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #0068f1 !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }

  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #777777;
  font-size: 14px;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #010615;
}

#footer:after {
  background: rgba(54, 54, 54, 0.1);
  height: 100%;
  width: 50%;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #505050;
}

@media (max-width: 1199px) {
  #footer {
    background: #000000;
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}












/* submit button======================



*/



.hide {
  display: none;
}

.submitButton {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  margin: 0;
  padding: 1.5rem 3.125rem;
  background-color: #0068f1;
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  overflow: hidden;
}

.submitButton:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #54d98c;
}

.submitButton span {
  position: absolute;
  line-height: 0;
}

.submitButton span i {
  transform-origin: center center;
}

.submitButton span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%);
}

.submitButton span:nth-of-type(2) {
  top: 100%;
  transform: translateY(0%);
  font-size: 24px;
}

.submitButton span:nth-of-type(3) {
  display: none;
}

.submitActive {
  background-color: #2ecc71;
}

.submitActive:before {
  width: 100%;
  transition: width 3s linear;
}

.submitActive span:nth-of-type(1) {
  top: -100%;
  transform: translateY(-50%);
}

.submitActive span:nth-of-type(2) {
  top: 30%;
  transform: translateY(-30%);
}

.submitActive span:nth-of-type(2) {
  animation: submitLoadingAnimation 0.5s linear infinite;
}

.submitActive span:nth-of-type(3) {
  display: none;
}

.submitFinished {
  background-color: #54d98c;
}

.submitFinished .submitSubmit {
  display: none;
}

.submitFinished .submitLoading {
  display: none;
}

.submitFinished .submitCheck {
  display: block !important;
  font-size: 24px;
  animation: scale 0.5s linear;
}

.submitFinished .submitCheck i {
  transform-origin: center center;
}

@keyframes submitLoadingAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

@keyframes scale {
  0% {
    transform: scale(10);
  }

  50% {
    transform: scale(0.2);
  }

  70% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}
